[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis
[submodule "avalanche-network-runner"]
	path = avalanche-network-runner
	url = https://github.com/ava-labs/avalanche-network-runner
